@font-face {
  font-family: 'iconfont';  /* project id 1860754 */
  src: url('//at.alicdn.com/t/font_1860754_yb8j99wvehq.eot');
  src: url('//at.alicdn.com/t/font_1860754_yb8j99wvehq.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1860754_yb8j99wvehq.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1860754_yb8j99wvehq.woff') format('woff'),
  url('//at.alicdn.com/t/font_1860754_yb8j99wvehq.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1860754_yb8j99wvehq.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont"!important;
}
