@font-face {
  font-family: 'iconfont';  /* project id 1860754 */
  src: url('//at.alicdn.com/t/font_1860754_0upy3zmontpa.eot');
  src: url('//at.alicdn.com/t/font_1860754_0upy3zmontpa.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1860754_0upy3zmontpa.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1860754_0upy3zmontpa.woff') format('woff'),
  url('//at.alicdn.com/t/font_1860754_0upy3zmontpa.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1860754_0upy3zmontpa.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont"!important;
}
