@font-face {
  font-family: 'iconfont';  /* project id 1860754 */
  src: url('//at.alicdn.com/t/font_1860754_bz7lbo9fwrp.eot');
  src: url('//at.alicdn.com/t/font_1860754_bz7lbo9fwrp.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1860754_bz7lbo9fwrp.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1860754_bz7lbo9fwrp.woff') format('woff'),
  url('//at.alicdn.com/t/font_1860754_bz7lbo9fwrp.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1860754_bz7lbo9fwrp.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont"!important;
}
